/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.*.sw*
/.clj**
/node_modules
/resources/public/js/compiled

/resources/public/js/
node_modules
/*.log
/target
/*-init.clj
out
.cljs_rhino_repl
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
*jar

